[Desktop Entry]
Encoding=UTF-8
Name=NaYaBoh
Comment=GUI-collection for the nayaboh commandline tools
Terminal=false
Exec=/usr/bin/nayaboh_gui
Icon=/usr/share/icons/nayaboh48x48.png
Type=Application
Categories=System;
