[Desktop Entry]
Encoding=UTF-8
Name=Proxy Log View
Comment=follow the logfile of squid
Exec=/usr/bin/nayaboh_proxylog
Icon=/opt/nayaboh/icon48.png
Type=Application
Categories=System;
Terminal=true
