[Desktop Entry]
Encoding=UTF-8
Name=Proxy Connections
Comment=See the Computers connected to NaYaBoh
Terminal=true
Exec=sudo bash -c "echo 'This Computers are now connected to NaYaBoh.' && sudo netstat-nat -n | awk '{ print $2 }' | cut -d: -f1 | sort -u | grep -v NATed && sleep 30"
Icon=/opt/nayaboh/icon48.png
Type=Application
Categories=System;
