[Desktop Entry]
Encoding=UTF-8
Name=NaYaBoh Live-Log
Comment=see the internet requests live
Exec=/usr/bin/nayaboh_proxylog
Icon=/usr/share/icons/nayaboh48x48.png
Type=Application
Categories=System;
Terminal=true
