[Desktop Entry]
Encoding=UTF-8
Name=NaYaBoh Connections
Comment=list the computers connected to the Internet
Terminal=true
Exec=bash -c "/usr/bin/nayaboh_connections ; bash"
Icon=/usr/share/icons/nayaboh48x48.png
Type=Application
Categories=System;
