[Desktop Entry]
Encoding=UTF-8
Name=IP config
Comment=Change the internal IP network
Terminal=true
Exec=bash -c "/usr/bin/nayaboh_ipconfig ; bash"
Icon=/opt/nayaboh/icon48.png
Type=Application
Categories=System;
