[Desktop Entry]
Encoding=UTF-8
Name=NaYaBoh Installation Report
Comment=see a report of the NaYaBoh installation
Terminal=true
Exec=dialog --title "NaYaBoh Installation Report" --textbox /opt/nayaboh/install.log 24 80
Icon=/opt/nayaboh/icon48.png
Type=Application
Categories=System;
