[Desktop Entry]
Encoding=UTF-8
Name=NaYaBoh Install-Report
Comment=see a report of the NaYaBoh installation
Terminal=true
Exec=/usr/bin/nayaboh_installreport
Icon=/opt/nayaboh/icon48.png
Type=Application
Categories=System;
