[Desktop Entry]
Encoding=UTF-8
Name=Proxy Connections
Comment=See the Computers connected to NaYaBoh
Terminal=true
Exec=bash -c "/usr/bin/nayaboh_connections ; bash"
Icon=/opt/nayaboh/icon48.png
Type=Application
Categories=System;
