Package: nayaboh
Version: 0.4.2
Section: utils
Priority: extra
Architecture: all
Depends: bash (>= 3.2), bc, dnsmasq, adzapper, squid, iptables, dialog, sudo, wget, libgd-graph-perl, netstat-nat
Suggests: gkrellm
Maintainer: Boris Däppen <boris_daeppen@bluewin.ch>
Description: Set up a very simple internet server
 NaYaBoh will download a set of services and configure them.
 NaYaBoh will also make serious changes to your system configuration.
 It is recommended that you install NaYaBoh on a freshly installed system.
 .
 NaYaBoh shares and speeds up slow internet connection to several computers.
 Useful for remote classrooms, cybars or offices.
Installed-Size: 128
